{% extends 'base.html.twig' %}

{% block title %}Hello ThreadController!
{% endblock %}


{% block body %}

	<h1 class="text-center">thread</h1>

	<div class="border border-dark mx-5 ">
		{% for comment in comments %}
			<div class="border border-dark ">
				<h3>{{comment.idea.title}}</h3>
			</div>
			{% for comment1 in comment.idea.comments %}


				<div class="user_picture border border-dark mx-5">

					{% if comment1.author.profilePicture %}
						<img class="card-img-top img-thumbnail img-fluid mx-auto d-block rounded" src="{{ vich_uploader_asset(comment1.author) }}" alt="{{ comment1.author.firstname }}">
					{% else %}
						<img class="card-img-top img-thumbnail img-fluid mx-auto d-block rounded" src="{{ asset('/build/images/astroSalesforce.png') }}" alt="astro salesforce">
					{% endif %}
				</div>

				<p>{{comment1.author.firstname}}
					{{comment1.author.lastname}}</p>
				<p>{{comment1.content}}</p>

			{% endfor %}
		{% endfor %}
	</div>
{% endblock %}
