<div class="bloc_test">
	<section class="form-idea">
		{{ form_start(form) }}
		{{ form_widget(form) }}
		<div class="bloc-btn">
			<button class="btn btn-save-marge">{{ button_label|default('preview') }}</button>
			<button class="btn btn-save-marge">{{ button_label|default('send the idea') }}</button>
		</div>
		{{ form_end(form) }}
	</section>
</div>
