{% extends 'base.html.twig' %}

{% block title %}Idea
{% endblock %}

{% block body %}
	<div class="row">
		<div class="col-12 col-md-6">
			<div class="container mt-5">
				<div class="row d-flex justify-content-around">
					{% include "Shared/_ideaCard.html.twig" %}
				</div>
			</div>
			<div class="d-md-flex justify-content-md-center">
				<button type="button" class="btn btn-success">
					<a class="btn btn-success" href="{{ path('app_idea_index') }}">back to list</a>
				</button>
			</div>
		</div>

		<div class="col-12 col-md-6 pe-5">
			<h1 class="mt-5">Comments</h1>
			<div class="m-3">
				{{ form_start(form) }}
				{{ form_widget(form) }}
				{{ form_end(form) }}
			</div>

			{% for comment in idea.comments %}
				<div class="m-3 p-3 border border-secondary rounded border-5 bg-secondary">
					<h3>From: {{ comment.author.lastname }} {{ comment.author.firstname }}</h3>
					<p>{{ comment.createdAt ? comment.createdAt|date('Y-m-d H:i:s') : '' }}</p>
					<p class="card-text">{{ comment.content }}</p>
				</div>
			{% else %}
				No comments found.
			{% endfor %}

		</div>
	</div>
{% endblock %}
