{% extends 'base.html.twig' %}

{% block title %}Idea
{% endblock %}

{% block javascripts %}
	{{ encore_entry_script_tags('like') }}
	{{ parent() }}
{% endblock %}

{% block body %}
	<div class="row">
		<div class="col-12 col-md-6 vh-100 d-flex align-items-center sticky-md-top">
			<div class="container mt-5">
				<div class="detail_card row d-flex justify-content-around">
					{% include "Shared/_detailsCard.html.twig" %}
				</div>
			</div>
		</div>

		<div class="col-12 col-md-6">
			<div class="container bloc_test">
				<div class="row">
					<div class="mb-3 mx-auto">
						<div class="align-middle">
							<h1 class="text-center m-5">Comments</h1>
							<p class="d-flex justify-content-center  d-md-none">
								<button class="btn btn-success" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
									Add a new comment
								</button>
							</p>
							<div class="collapse d-md-block" id="collapseExample">
								<form class="form-idea form bg-lightgrey p-3 shadow bg-light" method="post" action="#anchor">
									{{ form_start(form) }}
									{{ form_errors(form) }}
									<div class="text_user">
										{{ form_row(form.content)}}
									</div>
									<div class="text-center">
										{{ form_row(form.submit, { 'label': 'Add comment' }) }}
									</div>
									{{ form_end(form) }}
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>

			{% for comment in idea.comments|sort((a, b) => b.createdAt <=> a.createdAt) %}
				<div class="comment m-3 p-3 rounded border-5 text-break">
					<div class="row">
						<div class="user_picture col-4">
							{% if comment.author.profilePicture %}
								<img class="card-img-top img-thumbnail img-fluid mx-auto d-block rounded" src="{{ vich_uploader_asset(comment.author) }}" alt="{{ comment.author.firstname }}">
							{% else %}
								<img class="card-img-top img-thumbnail img-fluid mx-auto d-block rounded" src="{{ asset('/build/images/astroSalesforce.png') }}" alt="astro salesforce">
							{% endif %}
						</div>
						<div class="col-8 p-3">
							<h3>From:
								{{ comment.author.lastname }}
								{{ comment.author.firstname }}</h3>
							<p class="comment">{{ comment.createdAt ? comment.createdAt|date('Y-m-d H:i') : '' }}</p>
						</div>
					</div>
					<p class="comment">{{ comment.content|raw }}</p>
				</div>
			{% else %}
				No comments found.
			{% endfor %}

		</div>
	</div>
{% endblock %}
