<!DOCTYPE html>
<html lang="en" data-bs-theme="light">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="icon" type="image/png" href="{{ asset('/build/images/salesforce.png') }}"/>
		<title>
			{% block title %}Shareforce
			{% endblock %}
		</title>

		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}
		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
	</head>
	<div class="container-fluid shadow">
		<div class="row">
			<nav class="navbar navbar-expand-lg">
				<a class="navbar-brand" href="{{ path('app_home') }}">
					<img src="{{ asset('/build/images/shareforce.png') }}" class="img-logo mx-3" alt="Logo">
				</a>
				<button class="navbar-toggler me-4" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarNav">
					<ul class="navbar-nav col-12 text-center d-flex justify-content-between">
						<div class="d-lg-flex">
							<hr class="m-0">
							<li class="nav-item">
								<a class="nav-link active" aria-current="page" href="{{ path('app_home') }}">Home</a>
							</li>
							<hr class="m-0">
							<li class="nav-item">
								<a class="nav-link active" href="{{ path('app_idea_index') }}">Suggestion box</a>
							</li>
							<li class="nav-item">
								{% if is_granted("ROLE_ADMIN") %}
									<a class="nav-link active " href="{{ path('app_admin') }}">Admin</a>
								{% endif %}
							</li>
						</div>
						<div class="d-lg-flex">
							<li class="nav-item me-3">
								<div class="btn-group" role="group" aria-label="Button group darkmode">
									<button type="button" class="btn btn-success" data-bs-theme-value="light">
										<i class="bi bi-sun-fill"></i>
									</button>
									<button type="button" class="btn btn-success" data-bs-theme-value="dark">
										<i class="bi bi-moon-stars-fill"></i>
									</button>
								</div>
							</li>
							{% if app.user %}
								<li class="nav-item me-2">
									<a class="nav-link active text-right text-center" href="{{ path("app_thread") }}">
										My thread</a>
								</li>
								<li class="nav-item me-2">
									<a class="nav-link active text-right text-center" href="{{ path("app_user_profile") }}">
										My profile</a>
								</li>
								<li class="nav-item me-2">
									<a class="nav-link active text-right text-center" href="{{ path('app_logout') }}">
										Disconnect</a>
								</li>
							{% endif %}
						</div>
					</ul>
				</div>
			</nav>
		</div>
	</div>
	<body>
		{% block body %}{% endblock %}
	</body>
</html></html>
