<div class="idea_card m-2 col-12 col-md-4 rounded" style="width: 21rem;">
	<div class="idea_card_header row p-3 border border-secondary rounded-top border-3 bg-light">
		<div class="col-8">
			<p class="fw-bold">{{ idea.author.lastname }}
				{{ idea.author.firstname }}</p>
			<p>{{ idea.author.profession }}</p>
		</div>
		<div class="user_picture col-4">
			<img class="card-img-top img-thumbnail img-fluid mx-auto d-block rounded" src="https://th.bing.com/th/id/OIP.PEyJEq2LadECSuY05CbMOgHaLJ?w=198&h=298&c=7&r=0&o=5&pid=1.7" alt="Card image cap">
		</div>
	</div>
	<div class="p-2 border border-info  border-5 bg-info">
		<div class="p-2 border border-secondary rounded border-5 bg-secondary text-break">
			<h3>{{ idea.title }}:</h3>
			<p>{{ idea.content }}</p>
		</div>
	</div>
	<div
		class="p-3 border border-info rounded-bottom border-4 bg-info d-grid gap-2 d-md-flex justify-content-md-center align-items-center">
		{# <a href="{{ path('app_idea_show', {'id': idea.id}) }}" class="btn btn-success me-auto p-2">Comment</a> #}
		<a href="{{ path('app_idea_index') }}" class="btn btn-success me-auto p-2">back to list</a>
		{% if app.user and idea.isLikedByUser(app.user) %}
			<a href="{{ path('app_idea_like', {'id': idea.id}) }}" class="btn btn-success p-2">Like</a>
		{% else %}
			<a href="{{ path('app_idea_like', {'id': idea.id}) }}" class="btn btn-secondary p-2">Like</a>
		{% endif %}
		<span class="text-dark bg-secondary rounded p-2">{{ idea.likes | length }}</span>
	</div>
</div>
