<div class="card-details m-2 col-12 col-md-4 rounded " style="width:35rem">
	<div class="idea_card_header row p-3 border rounded-top border-3 bg-light">
		<div class="col-9">
			<p class="text_user fw-bold">{{ idea.author.lastname }}
				{{ idea.author.firstname }}</p>
			<p class="text_user">{{ idea.author.profession }}</p>
		</div>
		<div class="user_picture col-3">
			{% if idea.author.profilePicture %}
				<img class="card-img-top img-thumbnail img-fluid mx-auto d-block rounded" src="{{ vich_uploader_asset(idea.author) }}" alt="{{ idea.author.firstname }}">
			{% else %}
				<img class="card-img-top img-thumbnail img-fluid mx-auto d-block rounded" src="{{ asset('/build/images/astroSalesforce.png') }}" alt="astro salesforce">
			{% endif %}
		</div>
	</div>
	<div class="p-2 border border-info border-5 bg-info">
		<div class="card-body-detail p-2 rounded text-break">
			<h3>{{ idea.title }}:</h3>
			<p class="card-text">{{ idea.content|raw }}</p>
		</div>
	</div>
	<div class="p-3 border border-info rounded-bottom border-4 bg-info d-grid gap-2 d-md-flex justify-content-md-between align-items-center">
		<div class="col-md-2"></div>
		<a href="{{ path('app_idea_index') }}" class="btn btn-success col-md-3">back to list</a>
		<div class="col-md-2"></div>
		<a href="{{ path('app_idea_likeIndex', {'id': idea.id}) }}" class="like btn {{ app.user and idea.isLikedByUser(app.user) ? 'btn-success' : 'btn-secondary' }} col-md-3">
			Like -
			{{ idea.likes | length }}
		</a>
		<div class="col-md-2"></div>
	</div>
</div>
