<div class="container container-card rounded p-0 mb-3 h-100 idea_card" style="width: 21rem;">
	<a href="{{ path('app_idea_show', {'id': idea.id}) }}" class="link-card-decoration">
		<div>
			<div class="d-flex justify-content-between p-3 border border-3 rounded-top bg-light w-100">
				<div>
					<p class="fw-bold">{{ idea.author.lastname }}
						{{ idea.author.firstname }}</p>
					<p>{{ idea.author.profession|u.truncate(20, '...') }}</p>
				</div>
				<div class="user_picture col-4">
					{% if idea.author.profilePicture %}
						<img class="card-img-top img-thumbnail img-fluid mx-auto d-block rounded" src="{{ vich_uploader_asset(idea.author) }}" alt="{{ idea.author.firstname }}">
					{% else %}
						<img class="card-img-top img-thumbnail img-fluid mx-auto d-block rounded" src="{{ asset('/build/images/astroSalesforce.png') }}" alt="astro salesforce">
					{% endif %}
				</div>
			</div>
			<div class="p-2 border border-info  border-5 bg-info">
				<div class="card-body p-2 rounded text-break">
					<h3>{{ idea.title|u.truncate(20, '...') }}:</h3>
					<p class="card-text">{{ idea.content|u.truncate(210, '...')|raw }}</p>
				</div>
			</div>
		</a>
		<div class="p-3 border border-info rounded-bottom border-4 bg-info d-flex gap-2 flex-column flex-md-row justify-content-md-between">
			<div>
				<a href="{{ path('app_idea_show', {'id': idea.id}) }}" class="btn btn-success p-2 w-100">Comment</a>
			</div>
			<div>
				<a href="{{ path('app_idea_likeIndex', {'id': idea.id}) }}" class="like btn {{ app.user and idea.isLikedByUser(app.user) ? 'btn-success' : 'btn-secondary' }} p-2 w-100">
					Like -
					{{ idea.likes | length }}
				</a>
			</div>
		</div>
	</div>
</div>
