<div class="idea_card m-2 col-12 col-md-4 rounded" style="width: 21rem;">
	<div class="idea_card_header row p-3 border border-secondary rounded-top border-3 bg-light">
		<div class="col-8">
			<p class="fw-bold">{{ idea.author.lastname }}
				{{ idea.author.firstname }}</p>
			<p>{{ idea.author.profession }}</p>
		</div>
		<div class="user_picture col-4">
			{% if idea.author.profilePicture %}			
				<img class="card-img-top img-thumbnail img-fluid mx-auto d-block rounded" src="{{ vich_uploader_asset(idea.author) }}" alt="{{ idea.author.firstname }}">
			{% else %}
				<img class="card-img-top img-thumbnail img-fluid mx-auto d-block rounded" src="{{ asset('/build/images/astroSalesforce.png') }}" alt="astro salesforce">
			{% endif %}
		</div>
	</div>
	<div class="p-2 border border-info  border-5 bg-info">
		<div class="card-body p-2 border border-secondary rounded border-5 bg-secondary text-break">
			<a href="{{ path('app_idea_show', {'id': idea.id}) }}">
				<h3>{{ idea.title|u.truncate(20, '...') }}:</h3>
			</a>
			<p class="card-text">{{ idea.content|u.truncate(120, '...') }}</p>
		</div>
	</div>
	<div class="p-3 border border-info rounded-bottom border-4 bg-info d-grid gap-2 d-md-flex justify-content-md-center align-items-center">
		<a href="{{ path('app_idea_show', {'id': idea.id}) }}" class="btn btn-success me-auto p-2">Comment</a>
		{% if app.user and idea.isLikedByUser(app.user) %}
			<a href="{{ path('app_idea_likeIndex', {'id': idea.id}) }}" class="btn btn-success p-2">Like -
				{{ idea.likes | length }}</a>
		{% else %}
			<a href="{{ path('app_idea_likeIndex', {'id': idea.id}) }}" class="btn btn-secondary p-2">Like -
				{{ idea.likes | length }}</a>
		{% endif %}
	</div>
</div>
