<div class="idea_card m-2 col-12 col-md-4" style="width: 21rem;">
	<div class="idea_card_header row p-3 border border-secondary rounded-top border-3 bg-secondary">
		<div class="p-3 col-8">
			<p class="">Lastname :
				{{ idea.author.lastname }}</p>
			<p class="">Firstname :
				{{ idea.author.firstname }}</p>
			<p class="">Profession :
				{{ idea.author.profession }}</p>
		</div>
		<div class="user_picture col-4  ">
			<img class="card-img-top img-thumbnail img-fluid mx-auto d-block" src="https://th.bing.com/th/id/OIP.PEyJEq2LadECSuY05CbMOgHaLJ?w=198&h=298&c=7&r=0&o=5&pid=1.7" alt="Card image cap">
		</div>
	</div>
	<div class=" p-2 border border-info  border-5 bg-info">
		<div class="card-body p-3 border border-secondary rounded border-5 bg-secondary text-break">
			<h3>{{ idea.title }}:</h3>
			<p class="card-text">{{ idea.content }}</p>
		</div>
	</div>
	<div class="p-3 border border-info rounded-bottom border-4 bg-info d-grid gap-5 d-md-flex justify-content-md-center">
		<button type="button" class="btn btn-success">
			<a href="{{ path('app_idea_show', {'id': idea.id}) }}">Comment</a>
		</button>
		<button type="button" class="btn btn-success">Like</button>
	</div>
</div>
