{% extends 'base.html.twig' %}

{% block title %}Edit User
{% endblock %}

{% block body %}
	<h2 class="m-5">My profile</h2>

	<div class="idea_card_header  col-sm-6 col-md-5 m-5 row p-3 border rounded-top border-3 bg-light">

		<div class="col-8 ">


			<p class="text_user fw-bold">{{ app.user.lastname }}
				{{ app.user.firstname }}</p>
			<p class="text_user">{{ app.user.profession }}</p>
			<p class="text_user">{{ app.user.email }}</p>
		</div>
		<div class="user_picture col-4">
			{% if app.user.profilePicture %}
				<img class="card-img-top img-thumbnail img-fluid mx-auto d-block rounded" src="{{ vich_uploader_asset(app.user) }}" alt="{{ app.user.firstname }}"><br>

			{% else %}
				<img class="card-img-top img-thumbnail img-fluid mx-auto d-block rounded" src="{{ asset('/build/images/astroSalesforce.png') }}" alt="astro salesforce">
			{% endif %}
		</div>
	</div>

	<div class="col-6 m-5">
		{{ form_start(form) }}
		{{ form_widget(form) }}
		{{ form_end(form) }}
	</div>


{% endblock %}
